[Desktop Entry]
Name=MixiD
Comment=Control panel for Audient iD audio interfaces
Exec=mixid
Terminal=false
Type=Application
Categories=Audio;Mixer;
Keywords=audient;mixer;audio;interface;
